# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf


# deps
node_modules/

# dist 
dist
drizzle
# local env files
.env*.local
.env

# GCP
gcp-key.json
